.chat-btn-bg {
  background-color: #ffff;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  height: 22px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  :global {
    .ant-btn {
      &:hover {
        color: #1975ff !important;
      }
    }
  }
}
