.page-storyboard-left {
  width: 208px;
  background-color: #fff;
  border-right: 1px solid #f2f3f7;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  &__header {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    margin-top: -1px;
    padding: 0 16px;
    span {
      &:nth-child(1) {
        color: #878799;
      }
      &:nth-child(2) {
        color: #575766;
        cursor: pointer;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 16px;
    width: 208px;
    overflow-y: auto;
  }
  & .ant-dropdown-trigger {
    background-color: #fff !important;
    height: 96px !important;
    width: 170px !important;
  }
  & .shot {
    flex: 1;
    overflow-y: auto;
    align-items: center;
    div {
      .ant-image {
        width: 142px !important;
        height: 80px !important;
      }
    }
  }
}
