.page-storyboard-left{
  &__header{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #fff;
    z-index: 1;
    margin-top: -1px;
    padding: 0 16px;
    span{
      &:nth-child(1){
        color: #878799;
      }
      &:nth-child(2) {
        color: #575766;
        cursor: pointer;
      }
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 16px;
    width: 208px;
    height: 100vh;
    overflow-y: auto;

  }
}