.main-layout{
    height:100vh;
    .main-layout-header{
        padding:0;
        height: auto;
        line-height: 1;
        background: none;
        .header-wrapper{
            padding:0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height:48px;
            font-size: 16px;
            background: #001529;
        }
        .header-logo,.header-useInfo{
            display: flex;
            align-items: center;
            color:#fff;
        }
        .icon-logo{
            width:32px;
            height:32px;
        }
        .header-title{
            margin-left:10px;
        }
        .header-avatar{
            border-radius: 50%;
            background: #1975ff;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
        }
        .header-username{
            margin-left:5px
        }
        .header-breadcrumb{
            padding:0 16px;
            height:30px;
            line-height: 30px;
            background: #eee;
        }

    }
    .main-layout-context{
        overflow-y: auto;
    }
}