.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-row-center{
  display: flex;
  justify-content: center;
}
.f-col-center {
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}


.one-line-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}