.page-header-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  line-height: 64px;
  background-color: #fff;
  color: #fff;
  border-top:1px solid #E5E6EB;
  border-bottom:1px solid #E5E6EB;
  :global {
    .page-header-content {
      width: 100%;
    }
    .project-name {
      font-weight: 500;
      font-size: 20;
      color: #292933;
    }
    .project-status {
      margin-left: 12px;
      display: flex;
      justify-items: center;
    }
    .tip-text {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #a1a1b2;
    }
    .tip-shu {
      width: 1px;
      height: 16px;
      background-color: #e5e6eb;
      margin: 0 12px 0 6px;
    }

    .chat-enter {
      width: 100%;
      height: 100%;
      border-right: 2px solid #f2f3f7;
      height: 134px;
      padding: 0 24px;
      line-height: 24px;
    }
  }
}
