.btn-create-project{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:108px;
    min-height:32px;
    color:#fff;
    border: none;
    background-color: #14141A;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.009em;
    :global {
        .icon-create{
            margin-right:5px;
        }
    }
}