.page-storyboard {
  height: 100%;
  overflow: hidden;
  :global {
    .ant-layout-header{
        border: 1px solid #F2F3F7;
    }
    .page-storyboard-content {
      height: 100%;
      overflow: hidden;
    }
    .page-storyboard-right {
      flex-shrink: 0;
      flex: 0 0 420px !important;
      width: 420px !important;
      max-width: 420px !important;
      min-width: 420px !important;
    }
  }
}
