.page-storyboard{
    height:100%;
    overflow: hidden;
    :global {
        .page-storyboard-content{
            height:100%;
            overflow: hidden;
        }
        .page-storyboard-left{
            flex-shrink: 0;
            padding: 16px 14px;
            flex: 0 0 208px!important;
            width:208px!important;
            max-width:208px!important;
            min-width: 208px!important;
            overflow-y: auto;
        }
        .page-storyboard-right{
            flex-shrink: 0;
            flex: 0 0 420px!important;
            width:420px!important;
            max-width:420px!important;
            min-width: 420px!important;
        }
    }
}