.storyboard-image {
  height: 100%;
  :global {
    .storyboard-image-step {
      padding-top: 46px;
      display: flex;
      justify-content: center;
      width: 48px !important;
      flex: 0 0 48px !important;
      max-width: 48px !important;
      min-width: 48px !important;
      background: #f9f9fb !important;
    }
    .btn-step {
      display: block;
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      color: #a1a1b2;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      &[data-actived='true'] {
        color: #000;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    .btn-step-index {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      border: 1px solid currentColor;
    }
    .btn-step-text {
      margin-top: 5px;
      line-height: 14px;
    }
    .step-divider {
      margin: 10px auto;
      width: 1px;
      height: 46px;
      background: #a1a1b2;
    }
    .storyboard-image-content {
      background: #fff;
      &__header{
        width: 352px;
          height: 48px;
          display: flex;
          justify-content: space-between;
          padding: 22px 24px 4px;

          span {
            &:nth-child(1) {
              font-size: 16px;
              color: #232634;
            }

            &:nth-child(2) {
              font-size: 14px;
              color:#165DFF ;
              cursor: pointer;
            }
          }
      }
      &__list{
          display: flex;
          flex-direction: column;
          padding: 0 24px;
          gap: 12px;
      }

    }
  }
}
