:root {
    //品牌色
    --ld-brand-color: rgba(24, 144, 255, 1);
    --ld-brand-hovering: rgba(64, 169, 255, 1);
    --ld-brand-dragging: rgba(24, 144, 255, 0.26);
    --ld-brand-dropping: rgba(24, 144, 255, 0.34);
    --ld-brand-moving: rgba(24, 144, 255, 0.5);
    //白色调色版
    --ld-white: #fff;
    --ld-white-gray: #d9d9d9;
    --ld-white-gray-light: #eee;
    --ld-white-gray-lighter: #f0f0f0;
    --ld-white-gray-dark: #aaa;
    //灰色调色板
    --ld-gray: #333;
    --ld-gray-light: #444;
    --ld-gray-lighter: #666;
    --ld-gray-dark: #222;
    --ld-black: #1a1a1a;
  }
