.result{
  padding: 24px 24px 0;
  &__video{
    width: 304px;
      height: 171.27px;
      // gap: 0px;
      // border-radius: 8.56px 0px 0px 0px;
      // opacity: 0px;
      border: 1px solid red;
  }
}