.result{
  padding: 24px 24px 0;
  width: 304px;
  margin: 0 auto;
  &__video{
    // gap: 0px;
    // border-radius: 8.56px 0px 0px 0px;
    // opacity: 0px;
    img{
      width: 304px;
      height: 171.27px;
    }
  }
  .ant-descriptions-item-container{
    .ant-descriptions-item-label{
      display: block;
      text-align: right;
      width: 56px;
      margin-right: 18px;
      &::after{
        margin-inline:0
      }
    }
    .ant-descriptions-item-content{
      width: 160px;
    }
  }
}