.message-item {
  margin-bottom: 10px;
  display: flex;

  &.send {
    flex-direction: row;
  }
  &.receive {
    flex-direction: row-reverse;
  }
  .left {
    flex: 1;
  }
  .right {
    width: 40px;
  }
  .avatar {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #1975ff;
    color: #fff;
  }
  .content {
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
  }
}
